/*.exe
/*.jar
/.bin
/.checkstyle
/.cproject
/.dependencies
/.doxydoc
/.javadoc
/.publish
/.publishx
/bin/
/demo/
/distrib/
/doxydoc/
/javadoc/
/build/*.jar
/build/ant/
/build/checkstyle/
/build/lib/
/build/libx/
/native/*.png
/native/Darwin/
/native/Linux/
/native/Windows/
/native/include/jni/jni_headers.h
/native/include/jni/jni_headersx.h
/native/include/win32/*.ico
