<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
<link rel="icon" href="/favicon.ico">
<link rel="shortcut icon" href="/favicon.ico">

<title>{{ page.title }}</title>

</head>

<body>

<div class="section">
<h2 class="section_heading">{{ page.title }}</h2>
<div class="section_body">
{{ content }}
</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ site.tracker }}");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
